div.categories-container {
  padding: 6rem 5rem;
}

div.titles {
  margin-bottom: 2.5rem;
}

img.category-image {
  margin-bottom: 1rem;
  width: 24rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 1rem;
}

p.category-title {
  margin-bottom: 0.5rem;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-semibold);
  line-height: var(--leading-6);
}
p.category-description {
  font-size: var(--font-size-3-5);
  font-weight: var(--font-weight-regular);
  color: var(--muted-foreground);
  line-height: var(--leading-5);
}

div.category-list {
  display: flex;
  gap: 2rem;
}

h1.categories__title {
  font-size: var(--font-size-9);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-10);
}
p.categories__description {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  color: var(--muted-foreground);
  line-height: var(--leading-6);

}
