#hero{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 784px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.hero__content{
    width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.hero__title {
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    color: var(--white);
}

.hero__subtitle {
    font-size: 20px;
    font-weight: regular;
    line-height: 28px;
    color: var(--white);
}

.hero__button {
    margin-top: 1rem;
    font-size: var(--font-size-4);
    font-weight: var(--medium);
    line-height: var(--leading-6);
    background-color: var(--primary-background);
    color: var(--primary-foreground);
    width: 175px;
    height: 48px;
    border-radius: 8px;
    border: none;
}