article.product-container {
  border-color: #d9d9e0;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  max-width: 278.6666564941406px;
}

.product-container-top {
  background-color: #00005506;
  padding: 0;
}

.product-container-bottom {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.product-title {
  font-size: 0.875rem;
  font-weight: 500;
}

.product-description {
  font-size: 0.875rem;
  font-weight: 400;
  color: #60646c;
}

.product-price {
  font-size: 1rem;
  font-weight: 500;
}
