.category-header{
    padding-top: 4rem;
    padding-left: 1rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.category-content{
    display: flex;
    padding: 2.5rem 5rem;
    gap: 2rem;
    width: 100%;
}

.product-category__title {
    font-size: var(--font-size-9);
    font-weight: var(--font-weight-bold);
    line-height: var(--leading-10);
    color: var(--foreground);
}

.product-category__description {
    font-size: var(--font-size-3-5);
    font-weight: var(--font-weight-regular);
    line-height: var(--leading-5);
    color: var(--muted-foreground);
}

#filters {
    width: 16rem;
}

#filters > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-content{
    display: flex;
    gap: 1.5rem;
}

.form__title {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-medium);
    line-height: var(--leading-6);
    color: var(--foreground);
}

.form__label {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-regular);
    line-height: var(--leading-5);
    color: var(--foreground);
}

.form__input {
    width: 100%;
    border-radius: 12px;
    border-color: #CDCED6;
    border-width: 1px;
    height: 40px;
    padding: 0.5rem;
}

.form__button {
    color: var(--secondary-foreground);
    background-color: var(--secondary-background);
    height: 3rem;
    width: 100%;
    border-radius: 8px;
    border: none;
}

#lista-productos{
    display: flex;
    column-gap: 2rem;
    row-gap: 2.5rem;
}