/* 1_foundation */
@import url(./1_foundation/colors.css);
@import url(./1_foundation/reset.css);
@import url(./1_foundation/typography.css);
@import url(./1_foundation/elements.css);

/* 2_layout */
@import url(./2_layout/objects.css);

/* 3_components */
@import url(./3_components/product.css);
@import url(./3_components/categories.css);
@import url(./3_components/header.css);
@import url(./3_components/hero.css);
@import url(./3_components/features.css);
@import url(./3_components/product-categories.css);
@import url(./3_components/product-detail.css);