<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
  <header>
    <div class="header-container">
      <div class="header-top-nav">
        <nav class="header-user-links">
          <ul>
            <li><a href="">Iniciar sesión</a></li>
            <li><a href="">Crear una cuenta</a></li>
          </ul>
        </nav>
      </div>
      <div class="header-main-nav">
        <img src="../../assets/images/logo.svg" alt="" class="header-logo">
        <div class="actions">
          <div><img src="../../assets/images/icon-search.svg" alt="icon search"></div>
          <div><img src="../../assets/images/icon-user.svg" alt="icon user"></div>
          <div><img src="../../assets/images/vertical-bar.png" alt="vertical bar"></div>
          <div><img src="../../assets/images/icon-shopping-cart.svg" alt="icon shopping cart"></div>
        </div>
        <div class="category-links">
          <nav>
            <ul>
              <li><a href="">Polos</a></li>
              <li><a href="">Tazas</a></li>
              <li><a href="">Stickers</a></li>
              <li><a href="">Compañía</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  
</body>
</html>