<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/index.css" />
  </head>
  <body>
    <div class="container">
      <article class="product-container">
        <div class="product-container-top">
          <img
            src="../../assets/images/product-polo.png"
            alt="imagen de un producto categoria polos"
          />
        </div>
        <div class="product-container-bottom">
          <p class="product-title">Polo React</p>
          <p class="product-description">
            Viste tu pasión por React con estilo y comodidad en cada línea de
            código.
          </p>
          <p class="product-price">$20</p>
        </div>
      </article>
    </div>
  </body>
</html>
